<a href="https://colab.research.google.com/github/datametal/ChatGPT-LangChain-Complete-Dev/blob/main/knowledgegraphbootcamp_workingwithneo4j.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hands-On: Working with Neo4J

In this hands-on session we will use a free Neo4j Sandbox database and we will explore a very basic of movies in order to understand better the property graph data model and the Cypher query language.  

For a more comprehensive guide on Cypher consider the following resources:

* [Neo4j Cheat Sheet](https://quickref.me/neo4j)
* [Cypher Reference Card](https://neo4j.com/docs/cypher-cheat-sheet/5/auradb-enterprise/)

## Create a Neo4J sandbox database instance

To create an instance go to this [link](https://sandbox.neo4j.com/), log in, and click on "New Project."  From here, select the Movies graph and "Create".

NOTE: This instance will be read-only; we won't be able to add/edit data

## Connect to the database

To connect to the instance we need to specify the Bolt URL, the username and the password. These are available under "Connection Details" tab.

In [ ]:
bolt_url = ""
username = ""
pwd = ""

Then we can connect to the database instance using the py2neo library.

In [ ]:
! pip install py2neo

In [ ]:
from py2neo import Graph
conn = Graph(bolt_url, auth=(username, pwd))

## Investigate the graph schema

### Get all labels and their node count

In [ ]:
query = """MATCH (n) RETURN distinct labels(n), count(n)"""
result = conn.query(query)
result

### Get outgoing relations of "Person" nodes

In [ ]:
outgoing_relations_query = """MATCH (:Person)-[r]->(n) RETURN distinct type(r), labels(n)"""
result = conn.query(outgoing_relations_query).data()
result

### *Question*: How would you identify the incoming relations of "Movie" nodes?

In [ ]:
# insert your code here
query = """MATCH (:Movie)<-[r]-(n) RETURN distinct type(r), labels(n)"""
result = conn.query(query).data()
result

### Get node properties per label

In [ ]:
query = """call db.schema.nodeTypeProperties()"""
result = conn.query(query).data()
result

## Querying the data

### Find all the movies Tom Hanks acted in

In [ ]:
query = """MATCH (n:Person {name:"Tom Hanks"})-[r:ACTED_IN]->(m:Movie)RETURN m.title"""
result = conn.query(query).data()
result

### Find all the movies Tom Hanks acted in AND directed

In [ ]:
query = """MATCH (n:Person {name:"Tom Hanks"})-[:ACTED_IN]->(m:Movie)<-[:DIRECTED]-(n) RETURN m.title"""
result = conn.query(query).data()
result

[{'m.title': 'That Thing You Do'}]

### Find the persons who have not directed a movie

In [ ]:
query = """MATCH (n:Person) WHERE NOT (n)-[:DIRECTED]->() return n.name"""
result = conn.query(query).data()
result

### Question: How would you find the movies that have been reviewed?

In [ ]:
# insert your code here
query = """MATCH (n:Movie) WHERE ()-[:REVIEWED]->(n) return n.title"""
result = conn.query(query).data()
result